* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.fonts-container {
    margin-top: 20px;
}