.search-bar {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    border: 1px solid;
    border-radius: 25px;

}

.search-bar>select {
    appearance: none;
    padding-right: 30px;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 60px center;
}

.search-bar>input,
select {
    padding: 10px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    background-color: inherit;
    color: inherit;
    font-size: 16px;
}