@import "~bootstrap/scss/bootstrap";

.App {
    margin: 0 auto;
}

.main-row {
    justify-content: center;
}

.events-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    border-top: 4px solid #fac863;
}

.events-list {
    flex: 1;
    margin: 0;
    padding-top: 20px;
}

.events-list li {
    list-style: none;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    .events-container {
        border-left: 4px solid #fac863;
        border-top: none;
    }
}