header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.navigation-menu li {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}